/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * For more information see:
 *   https://sailsjs.com/anatomy/assets/styles/importer-less
 */
/**
 * Color Variables
 */
html,
body {
  height: 100%;
  margin: 0;
}
[v-cloak] {
  display: none;
}
.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}
.alert-danger a {
  color: #26474B;
  text-decoration: underline;
}
#page-wrap {
  height: 100%;
  height: auto!important;
  min-height: 100%;
  position: relative;
  padding-bottom: 40px;
  background-color: #f1f1f1;
}
header.navbar {
  margin-bottom: 0px;
  box-shadow: none;
}
header.navbar .branding {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 0px;
}
header.navbar .branding img {
  height: 26px;
}
header.navbar .sign-up-button {
  margin-top: 7px;
}
header.navbar .offer-badge-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
}
header.navbar .offer-badge-wrapper .offer-badge {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: transparent;
  font-family: inherit;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  border-radius: 25px;
  background-color: #B5D16A;
  color: #fff;
  cursor: pointer;
}
header.navbar .offer-badge-wrapper .offer-badge:focus {
  border-image: none;
  outline: none;
}
header.navbar .offer-badge-wrapper .offer-badge:hover {
  color: #fff;
  background-color: #a2c543;
}
.listed-offer-popover {
  width: 220px;
}
.listed-offer-popover .listed-offer-title {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #bfbfbf;
}
.listed-offer-popover .listed-offer-title .rate {
  font-size: 17px;
}
.listed-offer-popover .listed-offer-content {
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.listed-offer-popover .listed-offer-content h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.listed-offer-popover .listed-offer-content h3 {
  margin-top: 10px;
  margin-bottom: 35px;
}
footer {
  /*height: 40px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 10px;
  color: #ffffff;
  background-color: #26474B;*/
}
footer .container-fluid {
  max-width: 1100px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #B5D16A;
}
.background-wrap {
  background-color: #429993;
  padding-bottom: 40px;
  height: 100%;
  width: 100%;
  position: fixed;
}
.ele-img {
  background-image: url(../images/background-elephant.png);
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
.full-height {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  max-width: 1100px;
}
 .full-height .centered-content-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}
 .full-height .centered-content-wrapper .centered-content {
  display: table-cell;
  vertical-align: middle;
}
 h1.hmpg-text {
  color: #ffffff;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 35px;
}
.second-btn {
  margin-top: 10px;
}
.input-group {
  position: relative;
  width: 100%;
  height: 40px;
}
 .input-group .currency-dropdown {
  height: 100%;
  width: 130px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 15;
}
.input-group .currency-dropdown .fancy-tog {
  /*background-color: #26474B;*/
  background-color: #5cb85c;
  color: #ffffff;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}
 .input-group .currency-dropdown .currency-icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
 .input-group .cur-label {
  position: absolute;
  left: 140px;
  top: 7px;
  pointer-events: none;
  z-index: 10;
  color: #26474B;
  font-size: 12px;
}
.input-group .fancy-fill {
  height: 100%;
  width: 100%;
  padding-left: 140px;
  color: #26474B;
  border-radius: 0;
  position: relative;
  z-index: 5;
  padding-top: 24px;
  font-size: 20px;
}
 .drop-it {
  /*background-color: #26474B;*/
  /*background-color: #5cb85c;  */
  border-radius: 0;
}
 .drop-it li:hover {
  background: transparent;
}
 .drop-it a {
  color: #ffffff;
  cursor: pointer;
}
.drop-it a:hover {
  color: #B5D16A;
  background: transparent;
}
 .sub-text {
  color: #ffffff;
}
 .top {
  margin-top: 20px;
}
 .bottom {
  margin-bottom: 20px;
}
 .hmpg-btn {
  padding: 15px 0px;
  font-size: 24px;
}
 .hmpg-btn:hover {
  text-decoration: none;
}
#about .hero-banner {
  width: 100%;
  height: 180px;
  background-color: #429993;
  position: relative;
}
#about .hero-banner .banner-font {
  font-size: 42px;
  line-height: 180px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 75;
}
#about .ele-img {
  background-image: url(../images/background-elephant.png);
  height: 180px;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
}
#about .banner-text {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  max-width: 2000px;
}
#about .about-story {
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#about .about-story .about-text {
  color: #429993;
  margin-top: 30px;
}
#how-it-works .hero-banner {
  width: 100%;
  height: 180px;
  background-color: #429993;
  position: relative;
}
#how-it-works .hero-banner .banner-font {
  font-size: 42px;
  line-height: 180px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 75;
}
#how-it-works .ele-img {
  background-image: url(../images/background-elephant.png);
  height: 180px;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
#how-it-works .banner-text {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  max-width: 2000px;
}
#how-it-works .how-it-works-wrap {
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
#how-it-works .how-it-works-wrap .how-text {
  color: #429993;
}
#how-it-works .how-it-works-wrap .circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #429993;
  line-height: 50px;
  text-align: center;
  font-size: 44px;
  color: #fff;
  margin: 5px;
}
#how-it-works .how-it-works-wrap .step-one,
#how-it-works .how-it-works-wrap .step-two,
#how-it-works .how-it-works-wrap .step-three {
  margin-bottom: 70px;
  margin-top: 10px;
}
#how-it-works .how-it-works-wrap .step-one {
  margin-left: 15px;
}
#signup .signup-con {
  padding-top: 75px;
  padding-bottom: 75px;
}
#signup .signup-con .brand-header-image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
#signup .signup-con .signup-body-wrap {
  margin: 0 auto;
  max-width: 480px;
  min-width: 430px;
}
#signup .signup-con label.with-instructions {
  display: block;
}
#signup .signup-con .signup-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
#signup .signup-con .signup-text h3 {
  color: #429993;
}
#signup .signup-con .signup-text p {
  color: #26474B;
}
#signup .signup-con .TandA {
  margin-left: 10px;
}
#signup .signup-con .buttons-row {
  border-top: 1px solid #f2f2f2;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#signup .signup-con .checkbox-row {
  margin-left: 10px;
}
#verify-account .verify-body-wrap {
  width: 80%;
  margin: 30px auto;
}
#verified-account .welcome-body-wrap {
  width: 80%;
  margin: 30px auto;
}
#verified-account .welcome-body-wrap .wel-text {
  margin: 10px 0px 0px 0px;
  font-size: 16px;
}
#verified-account .welcome-body-wrap .add-account {
  margin-top: 20px;
}
#my-account .account-info {
  position: relative;
  padding-left: 150px;
}
#my-account .account-info .property {
  width: 130px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#my-account .acc-btn {
  margin-top: 30px;
}
#change-password .save-button .button-loader,
#change-password .save-button .button-loading {
  display: none;
}
#change-password .save-button.syncing .button-loader,
#change-password .save-button.syncing .button-loading {
  display: inline-block;
}
#change-password .save-button.syncing .button-text {
  display: none;
}
#profile .save-button .button-loader,
#profile .save-button .button-loading {
  display: none;
}
#profile .save-button.syncing .button-loader,
#profile .save-button.syncing .button-loading {
  display: inline-block;
}
#profile .save-button.syncing .button-text {
  display: none;
}
#profile label {
  display: block;
}
#profile label small {
  color: #999999;
}
#profile input.errored,
#profile select.errored {
  border: 1px solid #B53A03;
}
#profile .button-row {
  padding-top: 20px;
}
#ngn-bank .save-button .button-loader,
#ngn-bank .save-button .button-loading {
  display: none;
}
#ngn-bank .save-button.syncing .button-loader,
#ngn-bank .save-button.syncing .button-loading {
  display: inline-block;
}
#ngn-bank .save-button.syncing .button-text {
  display: none;
}
#ngn-bank .expiration-month-column {
  padding-right: 3px;
}
#ngn-bank .expiration-year-column {
  padding-left: 3px;
}
#ngn-bank .errored {
  border: 1px solid #B53A03;
}
#ngn-bank .error-row {
  margin-top: 15px;
}
#usd-bank .save-button .button-loader,
#usd-bank .save-button .button-loading {
  display: none;
}
#usd-bank .save-button.syncing .button-loader,
#usd-bank .save-button.syncing .button-loading {
  display: inline-block;
}
#usd-bank .save-button.syncing .button-text {
  display: none;
}
#usd-bank .errored {
  border: 1px solid #B53A03;
}
#usd-bank .error-row {
  margin-top: 15px;
}
#new-barter .form-info-wrap {
  margin-top: 35px;
}
#new-barter form {
  padding-top: 20px;
}
#new-barter .form-info {
  padding: 10px 15px 15px 35px;
}
#new-barter .form-info h4 {
  padding: 25px 0px 0px 5px;
}
#new-barter .form-info .two {
  margin-top: 35px;
  margin-bottom: 20px;
}
#new-barter .form-info .currency {
  padding: 10px 5px;
  min-width: 100px;
  max-width: 150px;
}
#new-barter .revert-button {
  margin-left: -25px;
}
#new-barter .rate-suffix {
  margin: 8px 0px 0px -20px;
}
#new-barter .today-rates-wrap {
  margin: 10px 0px 15px 0px;
}
#new-barter .today-rates {
  background-color: #f3f3f3;
  margin: 2px;
}
#new-barter .trade {
  margin-bottom: 15px;
}
#new-barter .trade .button-loader,
#new-barter .trade .button-loading {
  display: none;
}
#new-barter .trade.syncing .button-loader,
#new-barter .trade.syncing .button-loading {
  display: inline-block;
}
#new-barter .trade.syncing .button-text {
  display: none;
}
#browse-barters .header {
  padding-top: 25px;
  background-color: #fff;
  padding-bottom: 25px;
}
#browse-barters .empty-state {
  margin-top: 15px;
}
#browse-barters .save-button .button-loader,
#browse-barters .save-button .button-loading {
  display: none;
}
#browse-barters .save-button.syncing .button-loader,
#browse-barters .save-button.syncing .button-loading {
  display: inline-block;
}
#browse-barters .save-button.syncing .button-text {
  display: none;
}
#browse-barters .boards-list {
  margin-top: 25px;
}
#browse-barters .boards-list .barter-cards {
  margin: 5px 0px 20px 0px;
}
#browse-barters .boards-list .barter-cards .rate-info {
  background: #fcfcfc;
}
#browse-barters .boards-list .barter-cards .card-rate {
  font-size: 22px;
}
#browse-barters .boards-list .barter-cards .cash-value {
  color: #B5D16A;
  margin: 50px 0px 60px 0px;
  font-size: 46px;
}
#browse-barters .boards-list .barter-cards .expire {
  margin: 0;
}
#browse-barters .boards-list .card-body {
  margin: 40px 0px 5px 0px;
}
#browse-barters .boards-list .card-body .barter-btn {
  padding: 14px;
}
#browse-barters .boards-list .panel {
  min-height: 250px;
}
#browse-barters .pay-outs {
  margin-top: 10px;
}
#browse-barters .disclamer {
  margin-top: 30px;
}
#browse-barters .check-box-wrap .check-box {
  padding: 2px;
  background-color: #f2f2f2;
  margin: 2px;
}
#browse-barters .check-box-wrap .check-box .checkbox {
  padding-left: 5px;
}
#browse-barters .modal-title {
  padding-bottom: 5px;
}
#processing-barter .loading-panel-wrap {
  margin-top: 35px;
  min-height: 550px;
}
#processing-barter .loading-panel-wrap .loading-panel {
  margin-top: 100px;
  min-height: 300px;
}
#processing-barter .loading-panel-wrap .loading-panel .loading-dots {
  padding-top: 50px;
  padding-bottom: 20px;
}
#processing-barter .loading-panel-wrap .loading-panel .loading-dots .loading-dot {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #26474B;
}
#processing-barter .loading-panel-wrap .loading-panel .loading-dots .loading-dot.dot-1 {
  -moz-animation-name: dot-first;
  -webkit-animation-name: dot-first;
  -ms-animation-name: dot-first;
  -o-animation-name: dot-first;
  animation-name: dot-first;
  -moz-animation-duration: 3.7s;
  -webkit-animation-duration: 3.7s;
  -ms-animation-duration: 3.7s;
  -o-animation-duration: 3.7s;
  animation-duration: 3.7s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-animation-direction: linear;
  -ms-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
}
@-webkit-keyframes dot-first {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}
@-moz-keyframes dot-first {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}
@-o-keyframes dot-first {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes dot-first {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}
#processing-barter .loading-panel-wrap .loading-panel .loading-dots .loading-dot.dot-2 {
  -moz-animation-name: dot-second;
  -webkit-animation-name: dot-second;
  -ms-animation-name: dot-second;
  -o-animation-name: dot-second;
  animation-name: dot-second;
  -moz-animation-duration: 3.7s;
  -webkit-animation-duration: 3.7s;
  -ms-animation-duration: 3.7s;
  -o-animation-duration: 3.7s;
  animation-duration: 3.7s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-animation-direction: linear;
  -ms-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
}
@-webkit-keyframes dot-second {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes dot-second {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes dot-second {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot-second {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
#processing-barter .loading-panel-wrap .loading-panel .loading-dots .loading-dot.dot-3 {
  -moz-animation-name: dot-third;
  -webkit-animation-name: dot-third;
  -ms-animation-name: dot-third;
  -o-animation-name: dot-third;
  animation-name: dot-third;
  -moz-animation-duration: 3.7s;
  -webkit-animation-duration: 3.7s;
  -ms-animation-duration: 3.7s;
  -o-animation-duration: 3.7s;
  animation-duration: 3.7s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-animation-direction: linear;
  -ms-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
}
@-webkit-keyframes dot-third {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-moz-keyframes dot-third {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-o-keyframes dot-third {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes dot-third {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
#processing-barter .loading-panel-wrap .loading-text {
  color: #B5D16A;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 10px;
}
#processing-barter .loading-panel-wrap .acc-color {
  color: #26474B;
}
#processing-barter .loading-panel-wrap .acc-color-med {
  color: #5da4ad;
}
#processing-barter .loading-panel-wrap .acc-color-light {
  color: #a1cacf;
}
#processing-barter .otp-info-wrap {
  margin-top: 35px;
  min-height: 550px;
}
#processing-barter .otp-info-wrap .otp-info {
  margin-top: 100px;
  min-height: 300px;
}
#processing-barter .otp-info-wrap .otp-info .otp {
  margin: 45px 0px 0px 0px;
}
#processing-barter .otp-info-wrap .otp-info .errored {
  border: 1px solid #B53A03;
}
#processing-barter .success-wrap {
  margin-top: 35px;
  min-height: 550px;
}
#processing-barter .success-wrap .success {
  margin-top: 100px;
  min-height: 300px;
}
#processing-barter .success-wrap .exchange-more {
  margin: 60px 0px 0px 0px;
}
#processing-barter .success-wrap .done {
  margin: 60px 0px 0px 0px;
}
#admin-dashboard .header-divider {
  margin-bottom: 0;
}
#admin-dashboard .main-admin-content {
  padding-top: 15px;
  background-color: #f2f2f2;
}
#admin-dashboard .q-and-a {
  margin-bottom: 50px;
}
#admin-all-offers .header-divider {
  margin-bottom: 0;
}
#admin-all-offers .barter-cards {
  padding-top: 15px;
  background-color: #f2f2f2;
}
#admin-all-offers .barter-cards .panel.barter-card .barter-card-header,
#admin-all-offers .barter-cards .panel.barter-card .barter-card-footer {
  background: #fff;
}
#admin-all-offers .barter-cards .panel.barter-card h1 {
  padding-top: 35px;
  padding-bottom: 45px;
}
#exchange-rates .save-button .button-loader,
#exchange-rates .save-button .button-loading {
  display: none;
}
#exchange-rates .save-button.syncing .button-loader,
#exchange-rates .save-button.syncing .button-loading {
  display: inline-block;
}
#exchange-rates .save-button.syncing .button-text {
  display: none;
}
#exchange-rates .list {
  padding-bottom: 50px;
}
#exchange-rates .admin-rate-wrap {
  margin-top: 35px;
  min-height: 550px;
}
#exchange-rates .admin-rate-wrap .admin-rate {
  margin-top: 50px;
  margin-left: 25px;
  min-height: 300px;
}
#exchange-rates .admin-rate-wrap .save {
  padding: 14px 50px;
  margin-top: 5px;
}
#exchange-rates .admin-rate-wrap .usd-ngn {
  margin-left: -20px;
}
#transaction-limits .save-button .button-loader,
#transaction-limits .save-button .button-loading {
  display: none;
}
#transaction-limits .save-button.syncing .button-loader,
#transaction-limits .save-button.syncing .button-loading {
  display: inline-block;
}
#transaction-limits .save-button.syncing .button-text {
  display: none;
}
#transaction-limits .admin-limit-wrap {
  margin-top: 35px;
  min-height: 550px;
}
#transaction-limits .admin-limit-wrap .admin-limit {
  margin-top: 50px;
  margin-left: 25px;
  min-height: 300px;
}
#transaction-limits .admin-limit-wrap .first {
  margin-top: 70px;
}
#transaction-limits .admin-limit-wrap .row {
  margin-top: 5px;
}
#transaction-limits .admin-limit-wrap .save {
  padding: 14px 50px;
  margin: 95px 0px 0px 15px;
}
#login {
  padding-top: 75px;
  padding-bottom: 75px;
}
#login .brand-header-image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
#login .login-info-wrap {
  max-width: 480px;
  min-width: 430px;
  margin: 0 auto;
}
#login .login-info-wrap .brand-font {
  color: #429993;
}
#login .login-info-wrap .login-info {
  margin: 0 auto;
}
#login .error-message-wrapper {
  padding-top: 15px;
}
#login button.signin .button-loader,
#login button.signin .button-loading {
  display: none;
}
#login button.signin.syncing .button-loader,
#login button.signin.syncing .button-loading {
  display: inline-block;
}
#login button.signin.syncing .button-text {
  display: none;
}
#forgot-password {
  padding-top: 75px;
  padding-bottom: 75px;
}
#forgot-password .brand-header-image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
#forgot-password .forgot-submit .button-loader,
#forgot-password .forgot-submit .button-loading {
  display: none;
}
#forgot-password .forgot-submit.syncing .button-loader,
#forgot-password .forgot-submit.syncing .button-loading {
  display: inline-block;
}
#forgot-password .forgot-submit.syncing .button-text {
  display: none;
}
#forgot-password .error-message-wrapper {
  padding-top: 15px;
}
#forgot-password .forgot-info-wrap {
  max-width: 480px;
  min-width: 430px;
  margin: 0 auto;
}
#forgot-password .forgot-info-wrap .brand-font {
  color: #429993;
}
#forgot-password .forgot-info-wrap .forgot-info {
  margin: 0 auto;
}
#new-password {
  padding-top: 75px;
  padding-bottom: 75px;
}
#new-password .brand-header-image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
#new-password .save-button .button-loader,
#new-password .save-button .button-loading {
  display: none;
}
#new-password .save-button.syncing .button-loader,
#new-password .save-button.syncing .button-loading {
  display: inline-block;
}
#new-password .save-button.syncing .button-text {
  display: none;
}
#new-password .error-message-wrapper {
  padding-top: 15px;
}
#new-password .new-info-wrap {
  max-width: 480px;
  min-width: 430px;
  margin: 0 auto;
}
#new-password .new-info-wrap .brand-font {
  color: #429993;
}
#new-password .new-info-wrap .login-info {
  margin: 0 auto;
}
#terms .hero-banner {
  width: 100%;
  height: 180px;
  background-color: #429993;
  position: relative;
}
#terms .hero-banner .banner-font {
  font-size: 42px;
  line-height: 180px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 75;
}
#terms .ele-img {
  background-image: url(../images/background-elephant.png);
  height: 180px;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
}
#terms .banner-text {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  max-width: 2000px;
}
#terms .terms-body-wrap {
  margin-top: 50px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#privacy .hero-banner {
  width: 100%;
  height: 180px;
  background-color: #429993;
  position: relative;
}
#privacy .hero-banner .banner-font {
  font-size: 42px;
  line-height: 180px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 75;
}
#privacy .ele-img {
  background-image: url(../images/background-elephant.png);
  height: 180px;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
}
#privacy .banner-text {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  max-width: 2000px;
}
#privacy .privacy-body-wrap {
  margin-top: 50px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#faq .hero-banner {
  width: 100%;
  height: 180px;
  background-color: #429993;
}
#faq .hero-banner .banner-font {
  font-size: 42px;
  line-height: 180px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 75;
}
#faq .ele-img {
  background-image: url(../images/background-elephant.png);
  height: 180px;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  z-index: 50;
}
#faq .faq-body-wrap {
  width: 70%;
  margin: 50px auto;
}
#faq .faq-body-wrap h4 {
  color: #429993;
  margin-top: 30px;
}
#contact {
  padding-top: 75px;
  padding-bottom: 75px;
}
#contact .brand-header-image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
#contact .error-message-wrapper {
  padding-top: 15px;
}
#contact .submit-button .button-loader,
#contact .submit-button .button-loading {
  display: none;
}
#contact .submit-button.syncing .button-loader,
#contact .submit-button.syncing .button-loading {
  display: inline-block;
}
#contact .submit-button.syncing .button-text {
  display: none;
}
#contact .contact-us-wrap {
  max-width: 480px;
  min-width: 430px;
  margin: 0 auto;
}
#contact .contact-us-wrap .brand-font {
  color: #429993;
}
#contact .contact-us-wrap .contact-us {
  margin: 0 auto;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner-top --*/
.background-wrap{
background-color: #429993;
    /*padding-bottom: 40px;
    height: 100%;
    width: 100%;
    position: fixed;*/
}
.w3layouts-banner-top{
    background: url(../images/17.png) no-repeat 0px 0px;
    background-size: cover;
    /*opacity: .3;*/
    z-index: 50;
}
.w3layouts-banner-top1{
	background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.w3layouts-banner-top2{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.agileinfo-dot{
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- //banner-top --*/
/*-- banner --*/
.banner{
	position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    width: 100%;
}
/*-- header --*/
.header {
    margin: 2em 0 0 0;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.w3layouts-logo h1{
	margin:0;
}
.w3layouts-logo h1 a {
    font-size: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border: solid 1px #fff;
    padding: .1em .5em;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-border-radius: 30px;
    padding-bottom: .5em;
}
.w3layouts-logo h1 a span{
    font-size: .6em;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    text-transform: initial;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #4CAF50;
	border: solid 1px #ffffff;
	background: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
    font-size: 1em;
    padding: .5em 1.5em;
    /*margin-right: 0px;*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #4CAF50;
    border: solid 1px #ffffff;
	border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    background: #ffffff;
}
/*-- //header --*/
.w3layouts-banner-slider {
    margin: 8em 0;
}
.agileits-banner-info {
    text-align: center;
    padding: 14em 0 12em;
}
.agileits-banner-info h3{
    color: #ffffff;
    font-size: 3.5em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.agileits-banner-info h6{
    color: #FFFFFF;
    font-size: 1.1em;
    margin: 2em auto 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.agileits-banner-info p{
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 2em auto 0;
    width: 60%;
}
.w3-button{
	margin: 4em 0 1em 0;
}
.w3-button a{
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: 1.4em 1em;
    background: none;
    text-align: center;
    border: solid 2px #FFFFFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}
.w3-button a:hover{
    color: #4CAF50;
	background:#FFFFFF;
	border: solid 2px #FFFFFF;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 355px;
    left: 0;
    z-index: 9;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: left top;
    right: 3%;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: right top;
    left: 3%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 84%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #4CAF50;
    border: 2px solid #ffffff;
}
/*-- //slider --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    color: #212121;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.modal-header h4 span {
    font-size: .6em;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    text-transform: initial;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- about --*/
.about,.markets,.services,.testimonial-dot,.blog,.contact{
	padding:4em 0;
}
/*-- flex-slider --*/
#carousel li {
	margin-right: 0 !important;
    width: 107px !important;
}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}
.w3-about-left h2,.wthree-heading h3{
	color: #000000;
    font-size: 1.2em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.w3-about-left h5,.wthree-heading h5{
    color: #212121;
    font-size: 1.1em;
    margin: 1em 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.w3-about-left p{
	color:#999999;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.w3-about-left p span{
	display:block;
	margin:1em 0 0 0;
}
.w3l-button {
    margin: 2em 0 1em 0;
}
.w3l-button a {
    color: #212121;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 2em;
    background: none;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #000000;
}
.w3l-button a:hover {
    background:#4CAF50;
    border: solid 1px #4CAF50;
	color:#FFFFFF;
}
.w3l-button a:focus{
	outline:none;
}
/*-- about --*/
/*-- markets --*/
.markets{
	background:#f7f7f7;
}
.wthree-heading{
	text-align:center;
}
.markets-grids,.agile-services-grids,.posts-grids,.agile-contact-form {
    margin: 4em 0 0 0;
}
.agileits-icon-grid {
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0 0px 1px rgb(107, 107, 107),0 1px 2px rgba(0,0,0,.24);
    height: 300px;
}
.icon-left{
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1em;
    background: #4CAF50;
}
.icon-left i.fa.fa-bar-chart, i.fa.fa-thumbs-up, i.fa.fa-check-square, i.fa.fa-user-plus,.icon-left i.fa.fa-line-chart,.icon-left i.fa.fa-area-chart,.icon-left i.fa.fa-signal,.icon-left i.fa.fa-money,.icon-left i.fa.fa-briefcase{
    color: #FFFFFF;
    font-size: 2em;
}
.icon-right{
    float: left;
    width: 70%;
}
.icon-right h5{
	color: #000000;
    font-size: 1em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.icon-right p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.w3ls-markets-grid:nth-child(4),.w3ls-markets-grid:nth-child(5),.w3ls-markets-grid:nth-child(6){
	margin:3em 0 0 0;
}
/*-- //markets --*/
/*-- services --*/
.agile-services-grid img{
	width:100%;
}
.agile-services-grid h6{
	color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.agile-services-grid p{
    color: #999999;
    font-size: .9em;
    margin:0;
    line-height: 1.8em;
}
.agile-services-grid ul{
	padding:0;
	margin:1em 0 0 0;
}
.agile-services-grid ul li{
    display: block;
    font-size: .9em;
    color: #999999;
    margin-top: 1em;
}
.agile-services-grid ul li span.glyphicon {
    padding-right: 6px;
}
/*-- //services --*/
.testimonial{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.testimonial-dot{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.testimonial-heading h3{
	color:#FFFFFF;
}
.testimonial-heading h5{
	color:#FFFFFF;
}
.testimonial-img-grid{
    width: 28%;
    margin: 0 auto;
}
.testimonial-img{
	float: left;
    width: 26.33%;
}
.testimonial-img:nth-child(2){
	margin:0 2em;
}
.testimonial-img img{
	width:100%;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.t-img1 img,.t-img2 img{
	opacity: 0.6;
}
.testimonial-img-info{
	margin:2em 0 0 0;
}
.testimonial-img-info{
	text-align:center;
}
.testimonial-img-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin:0 auto;
	width:60%;
    line-height: 1.8em;	
}
.testimonial-img-info h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.testimonial-img-info h6{
	color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
/*-- blog --*/
.w3-agile-post-img a {
    background: url(../images/5.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 230px;
    display: block;
    text-decoration: none;
}
.w3-agile-post-img1 a {
    background: url(../images/6.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-agile-post-img2 a {
    background: url(../images/10.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-agile-post-img1 a:focus{
	outline:none;
}
.w3-agile-post-img a ul {
    padding: 11em 0 0 0;
    text-align: center;
    vertical-align: bottom;
}
.w3-agile-post-img a ul li {
	display: inline-block;
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 20px;
}
.w3-agile-post-img a ul li:nth-child(1){
	background: #03A9F4;
}
.w3-agile-post-img a ul li:nth-child(2) {
    margin: 0 1em;
    background: #F44336;
}
.w3-agile-post-img a ul li:nth-child(3){
    background: #8BC34A;
}
.w3-agile-post-info h4 {
	margin: .5em 0;
}
.w3-agile-post-info h4 a {
    color: #000000;
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}
.w3-agile-post-info h4 a:hover{
	color:#4CAF50;
}
.w3-agile-post-info h4 a:focus{
	outline:none;
}
.w3-agile-post-info p {
    color: #999999;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}
.w3-agile-post-info ul{
	padding:0;
	margin:0;
}
.w3-agile-post-info ul li{
	display: inline-block;
    color: #000000;
    font-size: 1em;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.w3-agile-post-info ul li:nth-child(2){
    margin: 0 0 0 7em;
}
.w3-agile-post-info ul li a{
	color:#999999;
	text-decoration:none;
}
.w3-agile-post-info ul li a:hover{
	color:#4CAF50;
}
/*-- //blog --*/
/*-- contact --*/
.contact{
    background: #f7f7f7;	
}
.w3layouts-contact-form-top h3,.contact-form-top h3,.w3agile-map h3 {
	color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.w3layouts-contact-form-top p{
    font-size: .9em;
    color: #999;
    margin: 1em 0 0;
    line-height: 1.8em;
}
.agileits-contact-address{
	margin: 3em 0 0 0;
}
.w3layouts-contact-form-top p{
	margin:2em 0;
}
.agileits-contact-address ul {
    padding: 0;
    margin: 0;
}
.agileits-contact-address ul li {
    display: block;
    margin: 1em 0;
}
.agileits-contact-address ul li i.fa.fa-phone,.agileits-contact-address ul li i.fa.fa-map-marker {
    height: 40px;
    width: 40px;
    background: #4caf50;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-contact-address ul li span {
    color: #999999;
    font-size: .875em;
    margin-left: 1em;
}
.agileits-contact-address ul li span a {
    color: #999999;
    text-decoration: none;
}
.agileits-contact-address ul li span a:hover{
    color: #4caf50;
}
.agileinfo-contact-form-grid{
    margin: 2em 0 0 0;
}
.agileinfo-contact-form-grid input[type="text"],.agileinfo-contact-form-grid input[type="email"] {
    display: inline-block;
    background: none;
    border: 1.5px solid #BBBBBB;
    width: 100%;
    outline: none;
    padding: 10px 15px 10px 15px;
    font-size: .9em;
    color: #BBBBBB;
    margin-bottom: 1.5em;
}
.agileinfo-contact-form-grid textarea {
    background: none;
    border: 1.5px solid #BBBBBB;
    width: 100%;
    display: block;
    height: 150px;
    outline: none;
    font-size: 0.9em;
    color: #BBBBBB;
    resize: none;
    padding: 10px 15px 10px 15px;
    margin-bottom: 1em;
}
button.btn1{
	color: #212121;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 2em;
    background: none;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #000000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover{
    border: solid 1px #4caf50;
    color: #FFF;
	background:#4caf50;
}
.w3agile-map {
    margin: 4em 0 0 0;
}
.w3agile-map iframe{
    border: none;
    min-height: 300px;
    width: 100%;
	margin:2em 0 0 0;
}
/*-- //contact --*/
/*-- copyright --*/
footer{
	background: #212121;
	padding:1em 0;
}
.copyright p{
	text-align:center;
	color:#FFFFFF;
	margin:0;
	font-size:.9em;
}
.copyright p a{
	color:#FFFFFF;
	text-decoration:none;
}
.copyright p a:hover{
	color:#4caf50;
}
/*-- //copyright --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
	.icon-left {
		width: 59px;
		height: 59px;
		padding: 1em 0 0 0;
	}
	.testimonial-img-grid {
		width: 35%;
	}
}
@media(max-width:991px){
	.navbar-nav > li > a {
		padding: .5em 1em;
	}
	.agileits-banner-info {
		padding: 9em 0 9em;
	}
	.agileits-banner-info h3 {
		font-size: 4em;
	}
	.callbacks_tabs {
		left: 47%;
	}
	.w3-about-left:nth-child(2) {
		margin: 2em 0 0 0;
	}
	.w3ls-markets-grid:nth-child(2){
		margin:1em 0;
	}
	.w3ls-markets-grid:nth-child(4), .w3ls-markets-grid:nth-child(5), .w3ls-markets-grid:nth-child(6) {
		margin: 1em 0 0 0;
	}
	.agile-services-grid:nth-child(2){
		margin:2em 0;
	}
	.testimonial-img-grid {
		width: 45%;
	}
	.w3-agile-post-img a ul {
		padding: 8em 0 0 0;
	}
	.w3-agile-post-img a ul li {
		font-size: .9em;
		padding: .5em .6em;
	}
	.w3-agile-post-img a ul li:nth-child(2) {
		margin: 0 0em;
	}
	.w3-agile-post-img a {
		min-height: 175px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 3em;
	}
	.contact-form-right {
		margin: 2em 0 0;
	}
	.w3l-button a {
		width: 20%;
		display: block;
	}
	.w3l-button {
		margin: 2em 0 0 0;
	}
}
@media(max-width:800px){
	.callbacks_tabs {
		left: 46%;
	}
}
@media(max-width:736px){
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: none;
	}
	.navbar-nav {
	    float: none;
		margin: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0.85);
	}
	.w3-agile-post-img a {
		min-height: 310px;
	}
	.w3-agile-post-grids:nth-child(2){
		margin:2em 0;
	}
	.w3-agile-post-img a ul {
		padding: 16em 0 0 0;
	}
}
@media(max-width:667px){
	.callbacks_tabs {
		left: 45%;
	}
	.callbacks_nav {
		bottom: 270px;
	}
	.testimonial-img-grid {
		width: 51%;
	}
}
@media(max-width:640px){
	.agileits-banner-info p {
		width: 70%;
	}
	.testimonial-img-grid {
		width: 55%;
	}
}
@media(max-width:600px){
	.agileits-banner-info h3 {
		font-size: 3em;
	}
	.testimonial-img-grid {
		width: 60%;
	}
	.testimonial-img-info p {
		width: 75%;
	}
}
@media(max-width:568px){
	.agileits-banner-info p {
		width: 75%;
	}
	.callbacks_tabs {
		left: 44%;
	}
}
@media(max-width:480px){
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.w3l-button a {
		width: 28%;
	}
	.agileits-banner-info {
		padding: 7em 0 6em;
	}
	.w3-button {
		margin: 3em 0 1em 0;
	}
	.callbacks_tabs {
		left: 43%;
	}
	.about, .markets, .services, .testimonial-dot, .blog, .contact {
		padding: 2em 0;
	}
	.markets-grids, .agile-services-grids, .posts-grids, .agile-contact-form {
		margin: 2em 0 0 0;
	}
	.testimonial-img {
		width: 23.33%;
	}
	.testimonial-img-info p {
		width: 85%;
	}
	.w3agile-map {
		margin: 2em 0 0 0;
	}
	.w3agile-map iframe {
		margin: 0em 0 0 0;
	}
	.agileits-contact-address {
		margin: 2em 0 0 0;
	}
}
@media(max-width:414px){
	.w3l-button a {
		width: 34%;
	}
	.w3-agile-post-img a ul {
		padding: 10em 0 0 0;
	}
	.w3-agile-post-img a {
		min-height: 220px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 7em;
	}
	.agileits-banner-info p {
		margin: 1em auto 0;
	}
	.agileits-banner-info h6 {
		margin: 1em auto 0;
	}
}
@media(max-width:384px){
	.w3l-button a {
		width: 38%;
	}
	.callbacks_tabs {
		left: 42%;
	}
	.callbacks_nav {
		width: 40px;
		height: 40px;
		background: transparent url(../images/arrows.png) no-repeat left top;
		background-size: 202%;
	}
	.testimonial-img:nth-child(2) {
		margin: 0 1em;
	}
	.w3-button a {
		padding: 1em .6em;
	}
}
@media(max-width:375px){
	.w3layouts-logo h1 a {
		font-size: .9em;
	}
	.agileits-banner-info {
		padding: 7em 0 3em;
	}
	.callbacks_tabs {
		top: 90%;
	}
	.callbacks_nav {
		bottom: 204px;
	}
}
@media(max-width:320px){
	.agileits-banner-info h3 {
		font-size: 1.5em;
	}
	.agileits-banner-info p {
		font-size: .8em;
	}
	.callbacks_nav {
		bottom: 165px;
	}
	.callbacks_tabs {
		left: 40%;
	}
	.w3-about-left h2, .wthree-heading h3 {
		font-size: 1em;
	}
	.w3l-button a {
		width: 46%;
	}
	.icon-left {
		float: none;
		margin: 0 auto 1em;
	}
	.icon-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.testimonial-img-grid {
		width: 80%;
	}
	.testimonial-img {
		width: 26.33%;
	}
	.testimonial-img-info {
		margin: 1em 0 0 0;
	}
	.w3-agile-post-info h4 a {
		letter-spacing: 3px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 4em;
	}
	.w3-agile-post-img a {
		min-height: 160px;
	}
	.w3-agile-post-img a ul {
		padding: 7em 0 0 0;
	}
	.w3layouts-contact-form-top p {
		margin: 1em 0;
	}
	.agileinfo-contact-form-grid input[type="text"], .agileinfo-contact-form-grid input[type="email"] {
		margin-bottom: 0.5em;
	}
	.agileinfo-contact-form-grid textarea {
		height: 125px;
	}
	.w3agile-map iframe {
		min-height: 200px;
	}
	.testimonial-img-info p {
		width: 100%;
	}
	.modal-header h4 {
		font-size: 1.5em;
	}
}
/*-- //responsive --*/

